.home {
  min-height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  min-height: 70vh;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #333;
}

.highlight {
  color: #61dafb;
}

.hero h2 {
  font-size: 1.8rem;
  color: #666;
  font-weight: 400;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  color: #888;
  margin-bottom: 2rem;
  max-width: 600px;
}

.cta-button {
  background-color: #61dafb;
  color: #333;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: transform 0.3s, background-color 0.3s;
}

.cta-button:hover {
  background-color: #4fa8c5;
  transform: translateY(-3px);
}
.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
  overflow: hidden;
  border: 5px solid #61dafb;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  padding: 2px;
  background-color: #61dafb;
  
}

.profile-photo:hover {
  transform: scale(1.05);
}