#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* Évite le scroll horizontal des montants */
}

main {
  flex: 1;
  position: relative;
  z-index: 1;
  background-color: #050a15;
}